<html>
<body>
Hi and thanks for your interest in Quickstart!
<br/>
I'll reach out to you as soon as I can.
<br/>
<br/>

You can reach me personally by responding to this email.
<br/>
<br/>
JD,
<br/>
Quickstart Founder


</body>
</html>
